@charset "utf-8";
/* CSS Document */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font: 12px/1.5 宋体,Arial,sans-serif;
}
body {
    font-family: "微软雅黑","Microsoft Yahei";
    color: #333;
}
.l, .col-l, .col_l, .col-c, .col_c {
    float: left;
}
h1, h2, h3, h3, h4, h5, h6 {
    font-weight: normal;
}
ol, ul {
    list-style: none;
}
a {
    color: #333;
}
a {
    text-decoration: none;
}
a:hover {
    color: #ff9a00;
}
.r, .col-r, .col_r, dt span, .ul-txt li span, .ul_txt li span {
    float: right;
}
.n, em {
    font-weight: normal;
    font-style: normal;
}

.wp {
    width: 1190px;
    margin: 0 auto;
}
.tit-main {
    padding-bottom: 15px;
    border-bottom: 1px solid #f75e57;
}
.mb70 {
    margin-bottom: 70px;
}
.fix {
    *zoom: 1;
}
.fix:after, .fix:before {
    display: block;
    content: "clear";
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}
.tit-main li {
    float: left;
	padding-left: 10px;
}
.tit-main .on a {
    border: #f75e57 solid 1px;
    border-radius: 8px;
    color: #333;
    font-weight: bold;
}
.tit-main li a {
    padding-left: 26px;
    padding-right: 26px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    display: block;
    font-size: 16px;
}
.tit-main li a:hover {
    background: #f75e57;
    color: #fff;
    border-radius: 8px;
	text-decoration:none;
}
.ul-line1 li {
    width: 595px;
    height: 275px;
    margin-bottom: 50px;
    position: relative;
	margin-left:auto;
	margin-right:auto;
	float:left;
}
.ul-line1 .pic {
    float: left;
}
.ul-line1 .pic img {
    width: 350px;
    height: 240px;
}
.ul-line1 .txt {
    float: left;
    height: 240px;
    width: 220px;
    border: 1px solid #e5e5e5;
    margin-left: -1px;
    border-radius: 0 7px 0 0;
}
.ul-line1 .txt .tit {
    padding-left: 15px;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 20px;
}
.ul-line1 .txt .tit {
    padding-bottom: 10px;
}
.btn-m1 {
    text-align: center;
    color: #fff;
    background: #ff9a00;
    display: inline-block;
    line-height: 25px;
    padding: 0 6px;
    font-size: 14px;
    border-radius: 3px;
}
.ul-line1 .txt .btn-m1 {
    font-size: 14px;
}
.ul-line1 .txt .tit h2 {
    padding-top: 15px;
    font-size: 24px;
    margin-bottom: 4px;
    height: 52px;
    overflow: hidden;
}
.ul-line1 .txt .tit p {
    font-size: 14px;
    color: #999;
    height: 24px;
    overflow: hidden;
}
.ul-line1 .txt .cen {
    padding-left: 15px;
    padding-right: 5px;
    font-size: 14px;
}
.p1 {
    padding: 1px;
}
.ul-line1 .txt .cen .p1 {
    color: #999;
    margin-top: 5px;
    margin-bottom: 3px;
    font-size: 14px;
}
.ul-line1 .txt .cen .p1 span {
    color: #333;
}
.load-a1 {
    width: 355px;
    height: 18px;
    border: 1px solid #ffb33e;
    border-radius: 5px;
    position: relative;
    line-height: 18px;
    font-size: 14px;
}
.load-a1 span {
    background: #ff9a00;
    display: block;
    color: #fff;
    text-align: right;
    border-radius: 3px 5px 5px 3px;
    height: 18px;
    line-height: 18px;
    width: 0;
}
.load-a1 em {
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 0;
    height: 20px;
    line-height: 20px;
    color: #fff;
    width: 30px;
    text-align: center;
    margin-left: -15px;
    font-weight: bold;
}
.load-a1 em b {
    font-weight: normal;
}
.pt5 {
    padding-top: 5px;
}
.link-user {
    display: inline-block;
}
.ul-line1 .txt .cen .s1 {
    display: block;
}
.ul-line1 .txt .cen .p2 span, .ul-line1 .txt .cen .s1 {
    color: #999;
}
.mb10 {
    margin-bottom: 10px;
}
.btn-a1, .btn-b1 {
    border: 1px solid #ff9a00;
    padding: 0px 33px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    border-radius: 5px;
    color: #ff9a00;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
}
.btn-b1 {
    border: 1px solid #e5e5e5;
    color: #999;
}
.ul-zslt li .txt, a[class*="btn"], #hd a, .ul-pro li, .ul-news li a {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.ul-line1 li .txt .btn-b1 {
    border-color: #999999;
    color: #666;
}
.btn-b1:hover {
    border: 1px solid #ff9a00;
    color: #ff9a00;
}
.ul-line1 li .txt .btn-b1:hover {
    background: #f75e57;
    border-color: #ff9a00;
    color: #fff;
}
.mb30 {
    margin-bottom: 30px;
}
.ul-step li {
    width: 383px;
    float: left;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 20px;
    color: #333;
    background: #f2f2f2;
}
.ul-step .li-bg {
    background: #f75e57;
    color: #fff;
}
.ul-step li a {
    display: block;
}
.ul-step .li-bg a:hover, .ul-step .li-bg a {
    color: #fff;
}
.bm1{ text-align:center; font-size:46px; font-weight:bold; margin-bottom:20px; margin-top:20px;}
.bm1 a{ border:#e74b4c solid 5px; color:#e74b4c; padding:5px 40px;}
.bm1 a:hover{ border:#e74b4c solid 5px; color:#c87b7c; padding:0 40px;}