@charset "UTF-8";

.clear{clear:both;}
.mb20{ margin-bottom:20px;}
.mb40{ margin-bottom:40px;}
.mt20{ margin-top:20px;}
.mt100{ margin-top:100px;}
.mt60{ margin-top:60px;}
.mt40{ margin-top:40px;}
.ml40{ margin-left:40px;}
.ml20{ margin-left:20px;}
.mr60{ margin-right:60px;}
.w600{ width:650px!important;}
.w400{width:450px!important;}
.w300{width:300px!important;}
.w250{width:250px!important;}
.w700{width:700px!important;}
.w500{width:500px!important;}

.w215{width:240px!important;margin-right: 30px;}
.w330{width:360px!important; margin-right:20px;}

/*头部*/
.m-topmenu{
	border-bottom:#f3f3f3 solid 1px;
	padding-bottom: 4px;

}
.m-topmenu-b{
	width: 1100px;
	margin: auto;
}
.m-t-free-wap{
	float: right;
}
.m-t-free{
	display: inline-block;
	line-height: 30px;
	background: #3bd2cb;
	padding: 0 20px;
	color: #fff;
	text-decoration: none;
	font-size: 14px;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	width:90px;
	text-align:center;
	
}
.m-t-free b {
	vertical-align: middle;
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(icon.html) -17px -66px no-repeat;
	margin: 0 0 0 5px;
	-webkit-transition: all ease .3s;
	transition: all ease .3s;
	margin-right: 5px;
}

.m-topmenu .m-t-info{
	float: right;
	background:url("icon.html") no-repeat;
	padding-left: 40px;
	line-height: 28px;
}
.m-topmenu .m-t-info a{
	color: #ccc;
	font-size: 12px;
	text-decoration:none; 
}
.m-topmenu .i-email{
	background-position:0px -1803px;
	color: #99a6af;
	width: 170px;
	margin:0 10px 0 10px;
}
.m-topmenu .i-call{
	background-position:0px -1907px;
	color:#EB6100;
	font-size: 18px;
	font-weight: bold;
	line-height: 32px;
	width:110px;
}


.h-f-free{
	display: inline-block;
	line-height: 50px;
	height: 50px;
	position: fixed;
	background: #3bd2cb;
	padding: 0 20px;
	color: #fff;
	right: 176px;
	text-decoration: none;
	font-size: 18px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	width:200px;
	text-align:center;
	bottom: 0px;
	z-index: 2000000;
	opacity: 0.89;
	filter: alpha(opacity=89);
}
.h-f-free b {
	vertical-align: middle;
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(icon.html) -17px -66px no-repeat;
	margin: 0 0 0 5px;
	-webkit-transition: all ease .3s;
	transition: all ease .3s;
	margin-right: 10px;
}
.h-f-free i{
	vertical-align: middle;
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(icon.html) -16px -1990px no-repeat;
	margin: 0 0 0 5px;
	-webkit-transition: all ease .3s;
	transition: all ease .3s;
	margin-top: 20px;
	float: right;
}

.freebox h3{ font-size:25px; margin:20px 0 0 0;}
.h-f-free_w{ width: 760px; margin: auto;text-align:left; padding-bottom: 10px;}
.h-f-free_w .h-f-free_wl{float: left;}
.h-f-free_w .h-f-free_wr{float: right;}
.h-f-tip{font-size: 14px; background:#f8d0c8; color: #666;border-radius: 5px;width: 760px; margin: auto;}
.freebox{
	display: inline-block;
	line-height: 50px;
	min-height: 190px;
	position: fixed;
	background: url("freebox_bg.html");
	padding: 0 20px;
	color: #fff;
	text-decoration: none;
	font-size: 14px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	width:974px;
	text-align:center;
	bottom: -190px;
	z-index: 2000000;
	left: 50%;
	margin: 0 0 0 -520px;
}

.freebox input[type="text"]{
	width: 160px;
	height: 35px;
	font-size: 14px;
	padding-left: 12px;
	border:#a4a4a4 solid 1px;
	margin: 0px 6px;
	color: #666;
}

.freebox .b-submit {
	display: inline-block;
	line-height: 38px;
	background: #e67412;
	padding: 0 30px;
	color: #fff;
	text-decoration: none;
	font-size: 14px;
	border-radius: 3px;
	text-align: center;
	margin-top: 9px;
	margin-right: 22px;
	border: 0;
	width: 172px;
}
.freebox b{
	float: right;
	width: 50px;
	height: 50px;
	margin: 10px 10px 0 0;
	cursor: pointer;
	background: url(icon.html) 0 -1650px no-repeat;
}


/*菜单*/
.h-mainmenu {
	height: 110px;
	width: 1100px;
	margin: auto;
}

.h-mainmenu.active {
	background: #fff;
	position:fixed;
	left:50%;
	top:0;
	margin: 0 0 0 -550px;
	z-index: 99999999;

}
.h-mainmenu.active:after{
	content: '';
	position: absolute;
	left: -44444px;
	top: 0;
	height: 110px;
	width: 99999px;
	background: #fff;
	z-index: -1;
	-webkit-transition: all ease 1s;
	transition: all ease 1s;
	box-shadow: 0 0 4px rgba(0,0,0,.4);
}

.h-mainmenu .b-logo {
	float: left;
	padding:0 30px 0 0px;
	margin: 12px 0 0 0;
}

.h-mainmenu .b-logo img {
	display: block
}

.h-mainmenu .b-list {
	margin: 0 0 0 20px;
	float: right;
	position: relative
}

.h-mainmenu .b-list dd {
	float: left;
	padding: 0 10px;
	position: relative;
}
.h-mainmenu .b-list .s_pro:hover .product-box{
	display: block;
}
.h-mainmenu .b-list .s_case:hover .case-box{
	display: block;
}
.h-mainmenu .b-list .s_knowledge:hover .knowledge-box{
	display: block;
}
.h-mainmenu .b-list .s_about:hover .about-box{
	display: block;
}


.h-mainmenu .b-list dt {
	display: none;
	position: absolute;
	height: 3px;
	background: #5dc8fc;
	bottom: 0;
	-webkit-transition: all ease .4s;
	transition: all ease .4s
}

.h-mainmenu .b-list a {
	display: block;
	padding: 25px 12px 10px 12px;
	font-size: 16px;
	text-decoration: none;
	color: #515465;
}

.h-mainmenu .b-free b,.h-mainmenu .b-tel b {
	vertical-align: middle;
	display: inline-block
}

.h-mainmenu .b-list .active>a {
	color: #EB6100;
}

.h-mainmenu .b-right {
	float: right;
	margin: 10px;
	height: 40px;
	overflow: hidden
}

.h-mainmenu .b-tel {
	float: left;
	line-height: 40px;
	color: #ed8600;
	font-style: italic;
	font-size: 20px;
	font-weight: 700;
	margin: 0 20px 0 0
}

.h-mainmenu .b-tel b {
	width: 20px;
	height: 20px;
	background: url(icon.html) -15px -16px no-repeat;
	margin: 0 5px 0 0
}

.h-mainmenu .b-tel span {
	vertical-align: middle
}

.h-mainmenu .b-free {
	float: left;
	line-height: 40px;
	background: #5dc8fc;
	padding: 0 10px;
	color: #fff;
	font-size: 14px;
	border-radius: 3px
}

.h-mainmenu .b-free b {
	width: 16px;
	height: 16px;
	background: url(icon.html) -17px -66px no-repeat;
	margin: 0 0 0 5px;
	-webkit-transition: all ease .3s;
	transition: all ease .3s
}

.m-mainnav,.m-mainnav .b-logo,.m-submenu {
	left: 0;
	top: 0;
	background: #67338e
}

.h-mainmenu .b-free span {
	vertical-align: middle
}

.h-mainmenu .b-free:hover b {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg)
}

@media (max-width:1200px) {
	.h-mainmenu .b-list a,.h-mainmenu .b-logo {
		padding: 0 10px!important
	}

	.h-mainmenu .b-list {
		margin: 0!important
	}
}

.h-language{
	float: right;
	position: relative;
	padding: 28px 0px;
}
.h-language:hover .language-box{
	display:block;
}

/* Language switch */
.language-box{position:absolute; right:-12px; margin-top:9px; background:#fff; padding:14px 18px; height:170px; width:110px; border:1px solid #e2e2e2; border-radius:4px; -moz-box-shadow:0 2px 12px rgba(0,0,0,0.082); -webkit-box-shadow:0 2px 12px rgba(0,0,0,0.082); box-shadow:0 2px 12px rgba(0,0,0,0.082);display:none;z-index: 100000}
.language-box.show-lbox { display:block; -webkit-animation: fade-anim .3s ease .037s both; animation: fade-anim .3s ease .037s both; z-index:91120; }
.language-box:after, .language-box:before { content: '';display: block;position: absolute; right:9px;width: 0;height: 0;border-style: solid; border-width: 10px;}
.language-box:after { top: -18px; border-color: transparent transparent #ffffff transparent ;}
.language-box:before { top: -19px; border-color: transparent transparent #e2e2e2 transparent ;}
.language-box li { list-style: none; padding: 5px; margin: 0; }
.language-box li img { margin-right: 5px; }
.language-box li a{ color: #666; text-decoration:none; font-size: 12px;}
a.search-form-icon, a.search-form-icon:visited { display:inline-block; width:16px; height:16px; color:#888;}
a.search-form-icon:hover { color:#555;}
a.language-icon, a.search-form-icon:visited { display:inline-block; width:16px; height:16px; color:#888; margin-left:5px;}
a.language-icon:hover { color:#555;}


.product-box{position:absolute; right:6px; margin-top:2px; background:#fff; padding:14px 18px;width:90px; border:1px solid #e2e2e2; border-radius:4px; -moz-box-shadow:0 2px 12px rgba(0,0,0,0.082); -webkit-box-shadow:0 2px 12px rgba(0,0,0,0.082); box-shadow:0 2px 12px rgba(0,0,0,0.082);z-index: 100000; display: none;}
.product-box.show-lbox { display:block; -webkit-animation: fade-anim .3s ease .037s both; animation: fade-anim .3s ease .037s both; z-index:91120; }
.product-box:after, .product-box:before { content: '';display: block;position: absolute; right:9px;width: 0;height: 0;border-style: solid; border-width: 10px;}
.product-box:after { top: -18px; border-color: transparent transparent #ffffff transparent ;}
.product-box:before { top: -19px; border-color: transparent transparent #e2e2e2 transparent ;}
.product-box li { list-style:20px; padding: 5px; margin: 0; }
.product-box li img { margin-right: 5px; }
.product-box li a{ color: #666; text-decoration:none; font-size: 12px;padding:0px!important;}
.product-box li a:hover{ color: #e37222;}

.case-box{position:absolute; right:6px; margin-top:2px; background:#fff; padding:14px 18px;width:90px; border:1px solid #e2e2e2; border-radius:4px; -moz-box-shadow:0 2px 12px rgba(0,0,0,0.082); -webkit-box-shadow:0 2px 12px rgba(0,0,0,0.082); box-shadow:0 2px 12px rgba(0,0,0,0.082);z-index: 100000; display: none;}
.case-box.show-lbox { display:block; -webkit-animation: fade-anim .3s ease .037s both; animation: fade-anim .3s ease .037s both; z-index:91120; }
.case-box:after, .case-box:before { content: '';display: block;position: absolute; right:9px;width: 0;height: 0;border-style: solid; border-width: 10px;}
.case-box:after { top: -18px; border-color: transparent transparent #ffffff transparent ;}
.case-box:before { top: -19px; border-color: transparent transparent #e2e2e2 transparent ;}
.case-box li { list-style:20px; padding: 5px; margin: 0; }
.case-box li img { margin-right: 5px; }
.case-box li a{ color: #666; text-decoration:none; font-size: 12px;padding:0px!important;}
.case-box li a:hover{ color: #e37222;}

.knowledge-box{position:absolute; right:6px; margin-top:2px; background:#fff; padding:14px 18px;width:90px; border:1px solid #e2e2e2; border-radius:4px; -moz-box-shadow:0 2px 12px rgba(0,0,0,0.082); -webkit-box-shadow:0 2px 12px rgba(0,0,0,0.082); box-shadow:0 2px 12px rgba(0,0,0,0.082);z-index: 100000; display: none;}
.knowledge-box.show-lbox { display:block; -webkit-animation: fade-anim .3s ease .037s both; animation: fade-anim .3s ease .037s both; z-index:91120; }
.knowledge-box:after, .knowledge-box:before { content: '';display: block;position: absolute; right:9px;width: 0;height: 0;border-style: solid; border-width: 10px;}
.knowledge-box:after { top: -18px; border-color: transparent transparent #ffffff transparent ;}
.knowledge-box:before { top: -19px; border-color: transparent transparent #e2e2e2 transparent ;}
.knowledge-box li { list-style:20px; padding: 5px; margin: 0; }
.knowledge-box li img { margin-right: 5px; }
.knowledge-box li a{ color: #666; text-decoration:none; font-size: 12px;padding:0px!important;}
.knowledge-box li a:hover{ color: #e37222;}

.about-box{position:absolute; right:6px; margin-top:2px; background:#fff; padding:14px 18px;width:90px; border:1px solid #e2e2e2; border-radius:4px; -moz-box-shadow:0 2px 12px rgba(0,0,0,0.082); -webkit-box-shadow:0 2px 12px rgba(0,0,0,0.082); box-shadow:0 2px 12px rgba(0,0,0,0.082);z-index: 100000; display: none;}
.about-box.show-lbox { display:block; -webkit-animation: fade-anim .3s ease .037s both; animation: fade-anim .3s ease .037s both; z-index:91120; }
.about-box:after, .about-box:before { content: '';display: block;position: absolute; right:9px;width: 0;height: 0;border-style: solid; border-width: 10px;}
.about-box:after { top: -18px; border-color: transparent transparent #ffffff transparent ;}
.about-box:before { top: -19px; border-color: transparent transparent #e2e2e2 transparent ;}
.about-box li { list-style:20px; padding: 5px; margin: 0; }
.about-box li img { margin-right: 5px; }
.about-box li a{ color: #666; text-decoration:none; font-size: 12px;padding:0px!important;}
.about-box li a:hover{ color: #e37222;}





/*首页联系我们*/

.m-index .b-aboutus{
	padding-top:1px; padding-bottom:px; 
	background: url('h-aboutus.html') no-repeat center; 
	background-size: cover; 
	min-height:450px;
	text-align:center;
	color:#FFF;
}
.m-index .b-aboutus h2{
	color:#FFF;
	font-size:36px;
	margin:60px 0 30px 0;
	line-height:55px;
}
.m-index .b-aboutus h2 span{
	font-size:46px;
}
.m-index .b-aboutus p{
	line-height:25px;
	font-size:14px;
}

/*首页我们的骄傲*/
.b-customer{ background:#FFF}
.m-index .b-customer dd,.m-index .b-main .b-customer dt {
	display: inline-block;
	width: 90px;
	height: 90px;
	margin: 0 10px 20px;
	vertical-align: top;
}

.m-index  .b-customer .b-con dl {
	overflow: hidden;
	font-size: 0;
	text-align: center;
	padding-bottom:20px;
}

.m-index .b-customer .b-con dd {
	overflow: hidden;
	border-radius: 15px;
	padding:0px 20px;
	box-shadow: 0 0 0 #fff;
}

.b-service{ padding-bottom:30px;}


.m-index .b-aboutus .b-about {
	display: inline-block;
	line-height: 38px;
	background: #e67412;
	padding: 0 30px;
	color: #fff;
	text-decoration: none;
	font-size: 14px;
	border-radius: 3px;
	width:110px;
	text-align:center;
	margin-top:45px;
}


/* 案例 */
.email-block .b-al {
	width: 1200px;
	margin: 0 auto;
	font-size: 0;
	overflow: hidden;
}

.email-block .b-al dd {
	display: inline-block;
	width: 230px;
	margin: 10px 50px 30px 0px;
}

.email-block .b-al dd div {
	margin: 5px
}

.email-block .b-al dd .b-date {
	height: 20px;
	font-size: 13px;
	color: #a4a5af;
}

.email-block .b-al dd .b-txt {
	height: 55px;
	font-size: 13px;
	color: #515465
}

.email-block .b-al dd .b-btn a,.email-block .b-more a {
	text-decoration: none;
	text-align: left;
	font-size: 14px;
	border-radius: 3px
}

.email-block .b-al dd .b-btn a {
	display: block;
	height: 35px;
	line-height: 32px;
	background: #fff;
	color: #00c0b6;
}

.email-block .b-al dd .b-btn a b {
	display: inline-block;
	width: 17px;
	height: 17px;
	background: url(case_icon_arrow.html) no-repeat;
	margin: 0 0 0 10px;
	vertical-align: middle
}

.email-block .b-al dd .b-btn a span {
	vertical-align: middle
}


.email-block .b-jd {
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}

.email-block .b-jd dl {
	text-align: left;
	margin: 10px 0 30px 0;
}

.email-block .b-jd dd {
	display: inline-block;
	width: 90px;
	height: 90px;
	margin: 0 53px 30px 0;
	vertical-align: top;
	overflow: hidden;
}

.email-block .b-list {
	width: 1100px;
	margin: 30px auto;
	overflow: hidden;
	position: relative
}

.email-block .b-list dd {
	float: left;
}

.email-block .b-list a {
	color: #515465;
	padding:10px 20px;
	font-size:14px;
	background:url(pro-email-b-b.html);
	font-weight:bold;
	margin-right:8px;
	text-decoration: none;
	line-height:50px;
}
.email-block .b-list a:hover{
	color:#00c0b6;
	text-decoration:none;
	font-weight:bold;
}

.email-block .b-list .active a {
	color:#00c0b6;
	text-decoration:none;
	font-weight:bold;
}


.p-t .emailtag a{
	color:#515465;
	text-decoration:none;
	padding:8px 15px;
	font-size:14px;
	background:url(pro-email-b-b.html);
	margin:0px 2px;
	font-weight:bold;
}
.p-t .emailtag a:hover{
	color:#00c0b6;
	text-decoration:none;
	font-weight:bold;
}


/*我们团队*/
.email-block .about-h-team{
	width:1200px;
	overflow:hidden;
}

.about-h-team .about-h-team-block{
	width:330px; border:#e3dfdf solid 1px; float:left; margin-right:36px;
}

.about-h-team .about-h-team-block .ht-cont{}
.about-h-team .about-h-team-block .ht-cont h2{ font-size:24px; color:#515465; text-align:center; line-height:20px; margin:15px 0 10px 0;}
.about-h-team .about-h-team-block .ht-cont h3{ font-size:12px; color:#e37222; text-align:center; margin-bottom:15px;}
.about-h-team .about-h-team-block .ht-cont p{ padding:0px 20px; font-size:12px; color:#515465; line-height:23px;}

.about-h-team .about-h-team-block .ht-btn{ border-top:#e3dfdf solid 1px; text-align:center; height:55px; line-height:55px;}
.about-h-team .about-h-team-block .ht-btn a {
	color: #e37222;
	text-decoration:none;
	font-size:16px;
}
.about-h-team .about-h-team-block .ht-btn a b {
	display: inline-block;
	width: 17px;
	height: 17px;
	background: url(case_icon_arrow.html) -83px 0 no-repeat;
	margin: 0 0 0 10px;
	vertical-align: middle
}


/*产品*/
.breadcrumbs-w{
	background: #f9f9f9;
	padding: 7px 0;
	font-size: 12px;
	color: #6c7279;
	letter-spacing: 1px;
	font-size: 12px;
}
.breadcrumbs-w .container{
	 width: 1080px;
	 margin: auto;
}
.breadcrumbs-w .container #crumbs a{text-decoration: none; color:#333333;}

.about_banner{
	padding-top:1px;
	padding-bottom:px; 
	background: url('about_banner.html') no-repeat center; 
	background-size: cover; 
	min-height:270px;
	text-align:center;
	color:#FFF;
}

.case_banner{
	padding-top:1px;
	padding-bottom:px; 
	background: url('case_banner.html') no-repeat center; 
	background-size: cover; 
	min-height:270px;
	text-align:center;
	color:#FFF;
}
.product_banner{
	padding-top:1px;
	padding-bottom:px; 
	background: url('product_banner.html') no-repeat center; 
	background-size: cover; 
	min-height:270px;
	text-align:center;
	color:#FFF;
}
.product_email_banner{
	padding-top:1px;
	padding-bottom:px; 
	background: url('product_email_banner.html') no-repeat center; 
	background-size: cover; 
	min-height:270px;
	text-align:center;
	color:#FFF;
}
.product_dma_banner{
	padding-top:1px;
	padding-bottom:px; 
	background: url('product_dma_banner.html') no-repeat center; 
	background-size: cover; 
	min-height:270px;
	text-align:center;
	color:#FFF;
}
.product_sms_banner{
	padding-top:1px;
	padding-bottom:px; 
	background: url('product_sms_banner.html') no-repeat center; 
	background-size: cover; 
	min-height:270px;
	text-align:center;
	color:#FFF;
}
.product_wechat_banner{
	padding-top:1px;
	padding-bottom:px; 
	background: url('product_wechat_banner.html') no-repeat center; 
	background-size: cover; 
	min-height:270px;
	text-align:center;
	color:#FFF;
}

.service_banner{
	padding-top:1px;
	padding-bottom:px; 
	background: url('service_banner.html') no-repeat center; 
	background-size: cover; 
	min-height:270px;
	text-align:center;
	color:#FFF;
}


.p-t{
	margin: 20px 0 60px 0;
	text-align: center;
}
.p-t h2{
	font-size: 48px;
	color: #bec8d2;
	line-height: 45px;
	padding-top: 20px;
}
.p-t h3{
	font-size: 38px;
	color: #515465;
}
.p-t p{
	color: #515465;
	font-size: 14px;
	line-height: 25px;
}

.p-t .emailtag{ margin:20px 0px;}
.p-t .emailtag a{
	color:#515465;
	text-decoration:none;
	padding:8px 15px;
	font-size:14px;
	background:url(pro-email-b-b.html);
	margin:0px 2px;
	font-weight:bold;
}
.p-t .emailtag a:hover{
	color:#00c0b6;
	text-decoration:none;
	font-weight:bold;
}

.p-t .email_b_t{
	margin:60px 0px 60px 0px;
}

.bordered-bot{
	width:240px;
	height:30px;
	border:#00c0b6 solid 2px;
	border-radius:5px;
	padding:12px 30px;
	text-decoration:none;
	color:#00c0b6;
}
.email_s{ margin-bottom:100px;}
.email_s a{ margin-right:20px;}

.bordered-bot:hover{box-shadow:inset 0px 0px 4px rgba(0,0,0,.2);
-webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.2) inset;
-moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.2) inset;}

.bordered-bot b.i1{
vertical-align: middle;
display: inline-block;
width: 20px;
height: 20px;
background: url(pro-email-icon.html)  no-repeat;
margin: 0 0 0 5px;
-webkit-transition: all ease .3s;
transition: all ease .3s;
margin-right: 15px;
margin-bottom: 4px;
}
.bordered-bot b.i2{
vertical-align: middle;
display: inline-block;
width: 20px;
height: 23px;
background: url(pro-email-icon.html) 0px -105px no-repeat;
margin: 0 0 0 5px;
-webkit-transition: all ease .3s;
transition: all ease .3s;
margin-right: 15px;
}




/*产品内容*/
.pro-content{
	width: 1100px;
	margin: auto;
}
.pro-c-block{ margin-bottom:80px;}
.pro-lf{ float: left;}
.pro-rf{ float: right;}

.pro-c-block .pro-l-t{
}
.p-560{width: 600px;}
.p-460{width: 560px;}

.p-500{width: 490px;}
.p-400{ width:400px;}

.pro-c-block  h2{
	font-size: 30px;
	color: #515465;
}
.pro-c-block  p{
	font-size: 14px;
	color: #515465;
	margin-bottom: 20px;
	line-height: 25px;
}
.pro-c-block  .p-more{
	display: inline-block;
	line-height: 32px;
	border: #e67412 solid 2px;
	padding: 0 30px;
	color: #e67412;
	text-decoration: none;
	font-size: 14px;
	border-radius: 3px;
	width: 80px;
	text-align: center;
	margin-top: 5px;
}

.pro-c-block .pro-r-p{
	padding-top: 40px;
}

/*产品-邮件-内容*/
.pro-email-content{
	width: 1100px;
	margin: auto;
	margin-top:15px;
}
.email-block strong { color:#e37222; margin-right:4px;}

.pro-email-content .email-block{ margin-bottom:100px; text-align:center;}
.pro-email-content .email-block h1{ font-size:26px; color:#515465; margin-bottom:20px;font-weight:bold;}
.pro-email-content .email-block h1 span{ color:#00c0b6;}

.pro-email-content .email-block h2{ font-size:20px; color:#515465; margin-bottom:5px;font-weight:bold;}
.pro-email-content .email-block p{ font-size:14px; color:#515465; margin-bottom:25px;}

.pro-email-content .email-block .e-block{ width:500px; float:left; margin-bottom:0px;}
.pro-email-content .email-block .e-block h3{ font-size:16px; color:#515465;margin-bottom:4px; font-weight:bold;}
.pro-email-content .email-block .e-block p{ font-size:14px; line-height:30px;}


.e-buttom{ margin:0px 0px 50px 0px;}
.e-buttom .bordered-e{
	width:240px;
	height:30px;
	border:#00c0b6 solid 2px;
	border-radius:2px;
	padding:6px 30px;
	text-decoration:none;
	color:#00c0b6;
}
.e-buttom .bordered-e:hover{box-shadow:inset 0px 0px 4px rgba(0,0,0,.2);
-webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.2) inset;
-moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.2) inset;}






.box{background-color: #efefef; color:#515465}
.box .box_wap{ width:1100px; margin:auto; padding:35px 0px;}
.box_slogan{ float:left; width:600px;}
.box_slogan h2{ font-size:30px; margin:10px 0px;}
.box_slogan p{ font-size:16px;}

.buttom_wap{ float:right; width:300px;}
.buttom_wap a{ line-height:70px;}


/*我们团队*/
.team-block{ margin-bottom:100px;}

.team-block .t-bl{ float:left; width:320px; margin-right:40px;}
.team-block .t-bl h2{font-size:24px; color:#515465; text-align:left; line-height:20px; margin:15px 0 10px 0;}
.team-block .t-bl h3{ font-size:12px; color:#e37222; text-align:left; margin-bottom:5px;}
.team-block .t-bl p{font-size:14px; color:#515465; line-height:23px; padding-bottom:10px;}

.team-block .t-bl6{ float:left; width:680px; margin-right:40px;}
.team-block .t-bl6 h2{font-size:24px; color:#515465; text-align:left; line-height:20px; margin:45px 0 30px 0;}
.team-block .t-bl6 p{font-size:14px; color:#515465; line-height:23px; padding-bottom:10px;}


/*公司新闻*/

.news_left{ float:left; width:760px; margin-top:40px;}
.news_left .banner_wap{}
.news_left .banner_wap .banner_roll{ width:480px; float:left;}
.news_left .banner_wap .banner_ad{ width:240px; float:right;}


.news_left .tag_wap{ background:#f4f4f4; padding:10px 20px 8px 20px; margin-top:20px;}
.news_left .tag_wap dd {
	float: left;
}
.news_left .tag_wap a {
	color: #515465;
	padding:5px 10px;
	font-size:14px;
	margin-right:8px;
	text-decoration: none;
	line-height:35px;
}
.news_left .tag_wap a:hover{
	color:#fff;
	text-decoration:none;
	font-weight:bold;
	background:#3bd2cb;
}

.news_left .tag_wap .active a {
	color:#fff;
	text-decoration:none;
	font-weight:bold;
	background:#3bd2cb;
}


.news_left .news_block{margin:40px 0 60px 0;}
.news_left .n_time{ float:left; width:65PX; margin-right:20PX; border-right:#ebebeb solid 1PX; color:#515465; line-height:10px;}
.news_left .n_time h2{ font-size:30px; padding:0px; margin:0px;}
.news_left .n_time p{ font-size:16px;}

.news_left .n_pic{ float:left; width:230px; margin-right:25px;}
.news_left .n_content{ float:left; width:380px;}
.news_left .n_content h2{ font-size:18px; line-height:28px; margin-bottom:15px;color:#515465;}
.news_left .n_content h2 a{ color:#515465; text-decoration:none}
.news_left .n_content h2 a:hover{ text-decoration:underline;}
.news_left .n_content p{float:left; width:380px; font-size:14px; line-height:22px; color:#515465; margin-bottom:20px;}


.news_left  .n-title{font-size:24px; color:#515465;}
.news_left  .n-tip {
	height: 20px;
	overflow: hidden;
	padding: 5px 0 10px;
	border-bottom: solid 1px #ebebeb;
	margin-bottom:30px;
	font-size:14px;
	color:#a4a5af;
}
.news_left  .n-tip a{
	color:#a4a5af;
	text-decoration:none;
}
.news_left  .n-tip .n-see {
	float: right
}
.news_left  .n-tip .n-see b {
	vertical-align: middle;
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(icon.html) -15px -967px no-repeat;
	margin: 0 5px 0 0
}

.news_left  .n-tip .n-tag {
	float: left;
	padding-right:20px;
}
.news_left  .n-tip .n-tag b {
	vertical-align: middle;
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(icon.html) -15px -1319px no-repeat;
	margin: 0 8px 0 0
}
.news_left  .n-tip .n-category {
	float: left;
}
.news_left  .n-tip .n-category b {
	vertical-align: middle;
	display: inline-block;
	width: 17px;
	height: 16px;
	background: url(icon.html) -15px -1365px no-repeat;
	margin: 0 8px 0 0
}
.news_left  .n-tip .n-date{
	float: left;
	width:160px;
}
.news_left .n-newscon p{
	padding-bottom:20px;
}
.news_left .n-newscon{
	font-size:14px;
	color:#515465;
	line-height:28px;
	border-bottom: solid 1px #ebebeb;
	padding-bottom:20px;
}
.news_left .n-newscon .b-block{
	background:#f9f9f9;
	padding:20px;
	margin-bottom:30px;
}
.news_left .n-newscon .b-block h2{
	font-size:18px;
	padding-left:10px;
	border-left:#3bd2cb solid 5px;
	margin-bottom:20px;
}

.news_left .bdsharebuttonbox{ margin:15px 0px;}
.news_left .bdsharebuttonbox a{ padding-right:10px;}

/*office*/
.email-block .office_block{float:left; width:260px;margin-right: 30px;margin-bottom: 80px; height:300px;}
.email-block .office_block h2{ color:#515465;}
.email-block .office_block p{ color:#515465; font-size:14px;}
.email-block .o-list li{color:#00aef2; font-size: 12px; text-align: center; line-height:23px;}
.email-block .o-list li img{ padding-right: 5px;}
.email-block .o-list li a{color:#00aef2; text-decoration: none;}
.email-block .o-list li a:hover{color:#00aef2; text-decoration: underline;}




.view_page_num{ margin:70px 0px;font-size:14px;}
.view_page_num a{ color:#00c0b6; text-decoration:none;}


.bordered-n{
	width:120px;
	height:30px;
	border:#c7c8c6 solid 2px;
	border-radius:2px;
	padding:6px 30px;
	text-decoration:none;
	color:#ccc;
}
.bordered-ed{
	width:120px;
	height:30px;
	border:#3bd2cb solid 2px;
	border-radius:2px;
	padding:6px 30px;
	text-decoration:none;
	color:#00c0b6;
}
.bordered-n:hover{box-shadow:inset 0px 0px 4px rgba(0,0,0,.2);
-webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.2) inset;
-moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.2) inset;}
.bordered-ed:hover{box-shadow:inset 0px 0px 4px rgba(0,0,0,.2);
-webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.2) inset;
-moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.2) inset;}

.news_right{ float:right; width:280px; margin-top:40px;}
.news_right h2{ border-bottom:#CCC solid 1px; padding-bottom:15px; margin-bottom:15px; font-size:16px;color:#515465;}

.news_right .news_r_list{ margin-bottom:25px;}
.news_r_list .n_r_pic{ float:left; width:95px; margin-right:12px;height: 60px;}
.news_r_list .n_r_content{ float:left; font-size:12px; width:160px;}
.news_r_list .n_r_content a{ text-decoration:none;color:#515465;}
.news_r_list .n_r_content a:hover{ text-decoration:underline;}

.news_right .event_r_list{ margin-bottom:35px;}
.news_right .event_r_list h3 {line-height:20px;}
.news_right .event_r_list h3 a{ font-size:14px; line-height:20px; padding:0px 0px; color:#515465; text-decoration:none;}
.news_right .event_r_list h3 a:hover{ text-decoration:underline;}

.news_right .event_r_list .event_r_title{ padding:7px 30px; background:#f4f4f4; font-size:14px; margin-top:15px; color:#515465;}
.news_right .event_r_list .event_r_title .address{ float:left; padding-left:20px; background:url(event_icons.html) no-repeat 0px 3px;}
.news_right .event_r_list .event_r_title .time{ float:right;background:url(event_icons.html) no-repeat -115px 2px;padding-left:20px; }

.n_content .d-info .address{ float:left; width:65px; padding-left:20px; background:url(event_icons.html) no-repeat 0px 3px; font-size:12px; margin-bottom:20px; color:#515465;}

.n_content .d-info .s_time{ float:left; padding-left:20px; background:url(event_icons.html) no-repeat -115px 2px; font-size:12px; margin-bottom:20px; color:#515465;}


/*首页底部*/
.h-footer-info {
	background: #fafafa;
	border-top: #e9e9e9 solid 4px;
}

.h-footer-info .b-inner {
	width: 1100px;
	margin: 0 auto;
	height: 200px
}

.h-footer-info .b-order {
	float: left;
	position: relative;
	padding: 0 0 0 40px;
	margin: 30px 20px 0 0;
	width: 180px
}

.h-footer-info .b-order dt {
	position: absolute;
	left: 0;
	top: 0;
	width: 30px;
	height: 30px;
	background: url(icon.html) -11px -461px no-repeat
}

.h-footer-info .b-order dd {
	font-size: 12px;
	color: #fff;
	margin: 0 0 15px
}

.h-footer-info .b-order .email {
	background-color: #fff;
	overflow: hidden;
	border-radius: 3px
}
.h-footer-info .b-menu {
	float: left;
	margin: 0px 90px 0 0px;
}

.h-footer-info .b-menu a:hover {
	text-decoration: underline
}

.h-footer-info .b-menu dt {
	margin: 25px 0 5px 0;
}

.h-footer-info .b-menu dt a {
	font-size: 14px;
	color: #515465;
	font-weight: 700;
	text-decoration:none;
}

.h-footer-info .b-menu dd {
	margin: 2px 0
}

.h-footer-info .b-menu dd a {
	font-size: 12px;
	color: #515465;
	text-decoration:none;
}

.h-footer-info .b-submenu {
	float: left;
	margin: 30px 0 0 80px;
	width: 170px
}

.h-footer-info .b-contact {
	margin:30px 40px 0 0;
	float:right;
}
.h-footer-info .b-contact .socialfollow i{
	background:url(f-share.html);
	padding:35px 23px 14px 23px;
	float:right;
	display:block;
	margin-right:4px;
}
.h-footer-info .b-contact .socialfollow i.fa-linkedin{
	background-position:0px 4px;
}
.h-footer-info .b-contact .socialfollow i.fa-linkedin:hover{
	background-position:0px 49px;
}
.h-footer-info .b-contact .socialfollow i.fa-sina{
	background-position:-70px 4px;
}
.h-footer-info .b-contact .socialfollow i.fa-sina:hover{
	background-position:-70px 49px;
}
.h-footer-info .b-contact .b-free {
	display: inline-block;
	line-height: 38px;
	background: #00a79f;
	padding: 0 30px;
	color: #fff;
	text-decoration: none;
	font-size: 14px;
	border-radius: 3px;
	width:90px;
	text-align:center;
	margin-top:15px;
}
.h-footer-info .b-code{
	margin-top:25px;
	float:right;
}

.h-footer-info .b-partners {
	padding:10px 0px 30px 0px;
	text-align:center;
}
.h-footer-info .b-partners img{
	padding:0px 0px;
}

.h-footer-copyright{
	background:#e9e9e9;
}
.h-footer-copyright .b-inner {
	width: 1100px;
	margin: 0 auto;
	overflow: hidden
}

.h-footer-copyright h2 {
	text-align: center;
	margin: 10px 0;
	font-size: 0
}

.h-footer-copyright p {
	text-align: left;
	margin: 25px 0;
	color: #666;
	font-size: 12px
}

.h-footer-copyright p a {
	color: #666;
	text-decoration: none
}

/*营销锦囊焦点图*/
.ck-slide { width: 515px; height: 305px; margin: 0 auto;}
.ck-slide ul.ck-slide-wrapper { height: 305px;}

.ck-slide ul { margin: 0; padding: 0; list-style-type: none;}
.ck-slide { position: relative; overflow: hidden;}
.ck-slide ul.ck-slide-wrapper { position: absolute; top: 0; left: 0; z-index: 1; margin: 0; padding: 0;}
.ck-slide ul.ck-slide-wrapper li { position: absolute;}
.ck-slide ul.ck-slide-wrapper li .slidetxt-wap{position: absolute; z-index:1000; bottom:0; left:0;background: url(knowledge_banner_bg.html); height:148px; width:515px; color:#FFF;}
.ck-slide ul.ck-slide-wrapper li .slidetxt-wap .s-txt{ padding:20px 30px 0px 30px; font-size:20px; line-height:30px;}
.ck-slide ul.ck-slide-wrapper li .slidetxt-wap .s-tag{ padding:10px 30px 0px 30px; font-size:12px; color:#999;}
.ck-slidebox { position: absolute; left: 50%; bottom: 12px; z-index: 30;}
.ck-slidebox ul { height: 20px; padding: 0 4px;}
.ck-slidebox ul li { float: left; height: 12px; margin: 4px 4px;}
.ck-slidebox ul li em { display: block; width: 9px; height: 9px; border-radius: 100%; background-color: #ebebeb; text-indent: -9999px; cursor: pointer;}
.ck-slidebox ul li.current em { background-color: #3bd2cb;}
.ck-slidebox ul li em:hover { background-color: #3bd2cb;}


.about_knowledge{ border-top:#ebebeb solid 4px; padding-top:20px; margin-top:15px; margin-bottom:150px;}
.about_knowledge .ak_left{ float:left; width:60px;}
.about_knowledge .ak_right{ float:right; width:640px; font-size:13px; color:#515465; line-height:25px;}
.about_knowledge .ak_right strong{ font-size:16px;}

.event_des{ margin-bottom:20px;}
.event_des .ed_left{float:left; width:270px;}
.event_des .ed_right{float:left;}
.event_des .ed_right li{ color:#515465;padding-left:40px; line-height:35px; font-size:14px; background:url(icon.html) no-repeat;}
.event_des .ed_right li.ed_time{ background-position:0px -2039px;}
.event_des .ed_right li.ed_address{background-position:0px -2102px;}
.event_des .ed_right li.ed_price{background-position:0px -2160px;}





.b-con .b-form {
	overflow: hidden
}

.b-con .b-form .b-left {
	width: 450px;
	height: 400px;
	padding: 25px 0 0 25px;
	float: left
}

.b-con .b-form .b-list b,.b-con .b-form .b-list strong {
	float: left;
	width: 80px;
	height: 38px;
	line-height: 38px;
	font-size: 14px
}

.b-con .b-form .b-right {
	margin: 0 0 0 125px
}

.b-con .b-form .b-hd {
	font-size: 14px;
	color: #f90;
	font-weight: 700
}

.b-con .b-form .b-bd {
	margin: 10px 0
}

.b-con .b-form .b-bd label {
	font-size: 14px;
	color: #515465;
	display: inline-block;
	margin: 3px 10px 3px 0
}

.b-con .b-form .b-bd input {
	vertical-align: middle;
	margin: -1px 3px 0 0
}

.b-con .b-form .b-list {
	min-height: 38px;
	margin: 18px 0
}

.b-con .b-form .b-list b {
	color: #515465
}

.b-con .b-form .b-list input,.b-con .b-form .b-list select,.b-con .b-form .b-list textarea {
	height: 36px;
	line-height: 36px;
	font-size: 13px;
	border: 1px solid #d8d8dc;
	outline: 0;
	text-indent: .5em;
	width: 270px
}

.b-con .b-form .b-list textarea {
	height: 100px
}

.b-con .b-form .b-submit {
	width: 88%;
	float: left;
	text-align: center;
	margin: 20px 0 20px 0;
}

.b-con .b-form .b-submit .b-sub {
	background: #ffa319;
	color: #fff;
	border-radius: 3px
}

.b-con .b-form .b-submit .b-rev,.b-con .b-form .b-submit .b-sub {
	cursor: pointer;
	width: 100px;
	height: 35px;
	font-size: 14px;
    border: #3bd2cb solid 2px;
    border-radius: 2px;
    padding: 6px 30px;
    text-decoration: none;
    color: #00c0b6;
	background:none;
	margin-right:10px;
}

.b-con .b-form .b-submit .b-rev {
	background: #fff;
	color: #00c0b6;
	border-radius: 3px;
	background:none
}

.b-con .b-form .b-line {
	height: 40px
}

.b-con .b-form .b-line .b-bg {
	width: 340px;
	height: 6px;
	background: #eaeaea;
	float: left;
	position: relative;
	margin: 10px 0 0;
	border-radius: 3px
}

.b-con .b-form .b-line .b-block {
	position: absolute;
	z-index: 10;
	top: -10px;
	left: -8px;
	width: 14px;
	height: 21px;
	border: 1px solid #ffa319;
	cursor: pointer;
	background: url(block.html) center center no-repeat #fff;
	border-radius: 3px;
	box-shadow: 1px 1px 2px #999
}

.b-con .b-form .b-line .b-block:active {
	cursor: -webkit-grabbing;
	cursor: -moz-grabbing
}

.b-con .b-form .b-line .b-10,.b-con .b-form .b-line .b-20,.b-con .b-form .b-line .b-30 {
	position: absolute;
	width: 30px;
	margin: 0 0 0 -15px;
	height: 16px;
	line-height: 16px;
	top: 16px;
	text-align: center;
	font-size: 12px;
	color: #515465
}

.b-con .b-form .b-line .b-10:after,.b-con .b-form .b-line .b-20:after,.b-con .b-form .b-line .b-30:after {
	content: "";
	position: absolute;
	width: 1px;
	height: 6px;
	background: #eaeaea;
	top: -10px;
	left: 15px
}

.b-con .b-form .b-line .b-10 {
	left: 85px
}

.b-con .b-form .b-line .b-20 {
	left: 170px
}

.b-con .b-form .b-line .b-30 {
	left: 255px
}

.b-con .b-form .b-line span {
	line-height: 25px;
	margin: 0 0 0 20px;
	float: left
}


/*套餐展示*/
.p-packages{

}
.p-packages .f-content{
	width: 1100px;
	margin: 0 auto;
	padding: 30px 0 60px 0;
}
.p-packages .f-content .package{
	padding: 0 0 60px 0;
}
.p-packages .f-content .package .name{
	float: left;
	width: 310px;
}
.p-packages .f-content .package .view{
	line-height: 50px;
	font-size: 14px;
	color: #515465;
	text-align: right;
	padding: 200px 0 0 0;
}
.p-packages .f-content .package .view img{
	vertical-align: -2px;
}
.p-packages .f-content dl.nav{
	position: relative;
}
.p-packages .f-content dl.nav dt{
	background: #989faa;
	line-height: 45px;
	color: #fff;
	padding: 0 25px 0 0;
	text-align: right;
	font-size: 20px;
	margin: 0 0 -45px 0;
}
.p-packages .f-content dl.nav dt.active{
	position: fixed;
	top: 110px;
	width: 285px;
}
.p-packages .f-content dl.nav dd{
	overflow: hidden;
	padding: 45px 0 0 0;
}
.p-packages .f-content dl.nav ul{
	border-bottom: solid 2px #ccd1d7;
	margin: 0 0 -2px 0;
}
.p-packages .f-content dl.nav li{
	font-size: 14px;
	line-height: 40px;
	color: #515465;
	text-align: right;
	padding: 0 25px 0 0;
}
.p-packages .f-content dl.nav li span{
	float: left;
	color: #3bd2cb;
}
.p-packages .f-content .package .chose{
	float: left;
	width: 780px;
	border-radius: 3px;
	margin: 0 10px 0 0;
	box-shadow: 0 0 5px rgba(0,0,0,.2);
}
.p-packages .f-content .item{
	width: 260px;
	float: left;
	border-radius: 3px;
	overflow: hidden;
}
.p-packages .f-content .item h2{
	line-height: 40px;
	text-align: center;
	background: #3bd2cb;
	color: #fff;
	font-size: 18px;
	border-bottom: solid 1px #65dcd6;
}
.p-packages .f-content .item h3{
	position: relative;
	text-align: center;
	font-size: 40px;
	line-height: 75px;
	height: 75px;
	background: #3bd2cb;
	color: #fff;
	border-top: solid 1px #17b6ab;
}
.p-packages .f-content .item h3:after{
	content: '';
	position: absolute;
	border:solid 50px transparent;
	border-top-color: #3bd2cb;
	border-left-width: 130px;
	border-right-width: 130px;
	left: 0;
	top: 75px;
	width: 0;
	height: 0;
}

.p-packages .f-content .item small{
	font-size: 14px;
}
.p-packages .f-content .item h4{
	text-align: center;
	font-size: 14px;
	color: #515465;
	line-height: 30px;
	padding: 95px 0 23px 0;
}
.p-packages .f-content .item h4 b{
	color: #3bd2cb;
}
.p-packages .f-content .middle{
	margin: -20px 0 0 0;
	position: relative;
	box-shadow: 0 0 10px rgba(0,0,0,.2);

}
.p-packages .f-content .middle h2{
	line-height: 60px;
	background: #844aaa;
	border-bottom-color: #9b6cba;
}
.p-packages .f-content .middle h3{
	background: #844aaa;
	border-top-color: #603492;
}
.p-packages .f-content .middle h3:after{
	border-top-color: #844aaa;
}

.p-packages .f-content .item .ul2{
	padding: 45px 0 0 0;
}
.p-packages .f-content .item .ul2 li{
	color: #aad141;
}
.p-packages .f-content .item .ul2 li:nth-child(odd){
	background: #f0f3e8;
}
.p-packages .f-content .item .ul3{
	padding: 45px 0 0 0;
}
.p-packages .f-content .item .ul3 li{
	color: #3da3d0;
}
.p-packages .f-content .item .ul3 li:nth-child(odd){
	background: #e4ecf0;
}
.p-packages .f-content .item li{
	text-align: center;
	line-height: 40px;
	height: 40px;
	color: #3acec7;
}
.p-packages .f-content .item li:nth-child(odd){
	background: #edf8f8;
}
.p-packages .f-content .contact{
	background: #f9f9f9;
	padding: 20px;
}
.p-packages .f-content .contact h2{
	color: #515465;
	border-left: solid 5px #3bd2cb;
	padding: 0 0 0 10px;
	font-size: 18px;
	line-height: 20px;
}
.p-packages .f-content .contact h3{
	color: #515465;
	padding: 0 0 0 15px;
	font-size: 14px;
	line-height: 1.5;
	margin: 10px 0;
}
.p-packages .f-content .contact h3 b{
	color: #e67412;
}
.p-packages .f-content .form{
	width: 420px;
	margin: 0 auto;
	padding: 50px 0 0 0;
}
.p-packages .f-content .form dt{
	height: 44px;
	line-height: 44px;
	text-align: center;
	background: #fad1c8;
	border-radius: 3px;
	font-size: 14px;
	color: #515465;
}
.p-packages .f-content .form dd{
	padding: 0 0 0 85px;
	margin: 20px 0;
}
.p-packages .f-content .form dd span{
	position: absolute;
	margin: 0 0 0 -85px;
	line-height: 34px;
	font-size: 14px;
	color: #515465;
}
.p-packages .f-content .form dd b{
	color: #44d3cd;
	margin: 0 5px 0 0;
}
.p-packages .f-content .form dd input{
	width: 100%;
	height: 34px;
	line-height: 34px;
	border: solid 1px #d8d8dc;
	font-size: 14px;
	text-indent: 1em;
}
.p-packages .f-content .form dd button{
	width: 90px;
	height: 30px;
	border: solid 2px #3bd2cb;
	background: #f9f9f9;
	font-size: 14px;
	color: #3bd2cb;
}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{*+height:1%;}























